.form {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  label {
    font-size: 1rem;
    padding-left: 0.2rem;
  }

  span {
    font-size: 0.75rem;
    text-align: center;
    color: red;
    margin-bottom: 0.5rem;
  }

  button,
  input,
  select {
    background: transparent;
    border-radius: 0.4rem;
    font-size: 1rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  input, select {
    font-size: 0.9rem;
    border: 1px solid rgba(var(--card-border-rgb), 0.30);

    &:focus {
      background: var(--input-glow);
    }
  }

  select {
    margin-bottom: 1rem;
  }

  button {
    color: white;
    background: var(--button-glow);
    cursor: pointer;
    border: 1px solid rgba(var(--card-border-rgb), 0.50);

    &:hover {
      background: var(--button-glow-hover);
    }
  }

  .buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;

    .edit-btn {
      background: var(--edit-button-glow);

      &:hover {
        background: var(--edit-button-glow-hover);
      }
    }
  }
}