.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;

  .fancy-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;

    &:before {
      background: var(--secondary-glow);
      border-radius: 50%;
      width: 480px;
      height: 360px;
      margin-left: -400px;
    }

    &:after {
      background: var(--primary-glow);
      width: 240px;
      height: 180px;
      z-index: -1;
    }

    &::before,
    &::after {
      content: '';
      left: 50%;
      position: absolute;
      filter: blur(65px);
      transform: translateZ(0);
    }

    .logo-container {
      padding: 4rem 0;
    }

    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5rem;

      @media screen and (max-width: 780px) {
        grid-template-columns: 1fr;
      }

      .form-container {
        display: flex;
      }

      .table-container {
      }
    }
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .modal-header {
      h3 {
        font-size: 1.2rem;
        font-weight: 600;
        color: white;
      }
      margin-bottom: 3rem;
    }

    .modal-body {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;

      button {
        color: white;
        padding: 0.5rem 1rem;
        background: var(--button-glow);
        cursor: pointer;
        border: 1px solid rgba(var(--card-border-rgb), 0.50);
        border-radius: 0.4rem;
        font-size: 1rem;

        &:hover {
          background: var(--button-glow-hover);
        }
      }

      .delete {
        background: var(--delete-button-glow);

        &:hover {
          background: var(--delete-button-glow-hover);
        }
      }
    }
  }

  @media screen and (max-width: 1500px) {
    padding: 1rem;

    .fancy-container {
      padding: 2rem 0;

      .logo-container {
        padding: 3rem 0;
      }
    }
  }
}